﻿@model ElDiary.Models.AddNoteViewModel

<div class="modal fade" id="AddNoteWindow" role="dialog">
    <div class="modal-dialog" style="width: 400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление записи в дневник</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("AddNote", "Notes", new AjaxOptions
                    {
                        UpdateTargetId = "diary",
                        OnSuccess = "HideAddNoteWindow"
                    }))
                    {
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Date, new Dictionary<string, object>
                                 {
                                     {"placeholder", "Дата"},
                                     {"style", "min-width: 100%;"},
                                 })
                            @Html.ValidationMessageFor(x => x.Date)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Subject, new Dictionary<string, object>
                            {
                                {"placeholder", "Тема"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Subject)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Description, new Dictionary<string, object>
                            {
                                {"placeholder", "Описание"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Description)<br />
                        </div>

                        <input type="submit" value="Добавить" class="btn btn-default" style="padding-bottom: 5px;">
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function HideAddNoteWindow() {
        $('#AddNoteWindow').modal('hide');
    }
</script>
