﻿@model ElDiary.Models.NotesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title ElDIary</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="margin-top:20px">
        <table id="diary" class="display">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Тема</th>
                    <th>Описание</th>
                    <th>Контакты</th>
                    <th class="hidden">Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Notes)
            {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Date)</td>
                        <td>@Html.DisplayFor(x => item.Subject)</td>
                        <td>@Html.DisplayFor(x => item.Description)</td>
                        <td>
                            @foreach (var contact in item.ContactModels)
                            {
                                @Html.DisplayFor(x => contact)
                            }

                        </td>
                        <td>
                            <input type="button" class="btn btn-default"  value="Удалить запись" />
                            <div class="hidden">
                                @Html.DisplayFor(x => item.Id)
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script type="text/javascript">

    $(function () {
        $("table").on("click",
            ".btn",
            function () {
                var currentNote = $(this).parent().parent();
                var guidOfNote = $(this).parent().find(".hidden").text().trim();
                console.log(guidOfNote);
                console.log(currentNote);

                $.ajax({
                    type: "POST",
                    url: "../notes/recievedata",
                    contentType: 'application/json',
                    data: JSON.stringify({ guidOfNote: guidOfNote })
                });

                $(currentNote).remove();
            });
    });

    $(function() {
        $("#diary").dataTable({
            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        });
    });
</script>
